body {
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   background-color: slategray;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    justify-content: center;
    

}



.info {
    margin: 1rem;
    font-weight: 800;
    
    
}
.green {
    color: rgb(5, 250, 5);
}
.red {
    color: rgb(170, 36, 36);
}
.square {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winner {
    color: goldenrod;
}

.O {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 20px solid red;
    box-sizing: border-box;
}
.X {
    width: 90px;
    height: 90px;
    position: relative;
    transform: rotate(45deg);
    
}

.X:before, .X:after {
    background-color: green;
    position: absolute;
    content: '';

}

.X:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;;
    height: 100%
}

.X:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;;
    width: 100%
}

.resetButton {
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    background-color: rgb(115, 255, 0);
    font-size: 20px;
   
}
